@import '../../index.scss';

.slider {
  width: 836px;
  margin-bottom: 30px;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      font-size: 18px;
      font-weight: 600;
    }

    .see-all {
      color: $blue-main;
      font-size: 14px;
      font-weight: 400;
    }
  }

  .body {
    margin: 10px 0;
    height: 200px;
    overflow: hidden;

    .bottom {
      display: block;
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    justify-content: center;

    .dot {
      cursor: pointer;
      width: 15px;
      height: 15px;
      border-radius: $r15;
      background: #eeeff8;
      margin-right: 5px;
      transition: $main-transition;

      &.active {
        background: $blue-main;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
