@import '../../index.scss';

.create-lesson-page {
  .create-lesson-forms {
  }

  .create-lesson-buttons {
    text-align: right;
    margin-top: 20px;

    button:first-child {
      margin-right: 10px;
    }
  }
}
