@import '../../index.scss';

.course-page {
  .course-info {
    display: flex;

    .course-left {
      width: 150px;

      .course-image {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: $r5;
        border: 1px solid $blue-main;
      }

      .course-rating {
        text-align: center;

        .course-rating-number {
          font-size: 16px;
          font-weight: 700;
          color: $grey-main;
        }

        .course-rating-stars {
          display: flex;
          align-items: center;
          justify-content: center;

          .button {
            background: #fff;
            border: none;
            outline: none;
            transition: all 0.3s ease;

            &:hover {
              transform: scale(1.2);
            }
          }
        }

        .course-rating-votes {
          font-size: 14px;
          font-weight: 500;
          color: $grey-main;
        }
      }
    }

    .course-right {
      width: 626px;
      margin-left: 20px;

      .course-title {
        word-wrap: break-word;
        font-size: 20px;
        font-weight: 900;
      }

      .course-description {
        width: 100%;
        word-wrap: break-word;
        font-size: 16px;
        margin: 20px 0 10px;
      }

      .course-created-by {
        font-size: 16px;

        span {
          font-weight: 700;
        }
      }

      .course-level {
        font-size: 16px;
        margin: 10px 0;

        span {
          font-weight: 700;
        }
      }

      .course-certificate {
        font-size: 16px;
        margin: 10px 0;

        span {
          font-weight: 700;
        }
      }

      .course-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .course-tags {
          display: flex;
        }
      }
    }
  }

  .course-buttons {
    margin: 20px 0;
    text-align: right;

    button:first-child {
      margin-right: 10px;
    }
  }

  .course-lessons {
    margin-top: 20px;
    .course-lessons-title {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 10px;
    }
  }
}
