@import '../../index.scss';

.comment-block {
  padding: 30px 25px;
  border-radius: $r5;
  border: 1px solid $grey-main;
  margin-bottom: 20px;
  display: flex;

  &:last-child {
    margin-bottom: 0;
  }

  .comment-left {
    margin-right: 25px;

    .comment-user-image {
      height: 50px;
      width: 50px;
      border-radius: $r5;
    }
  }

  .comment-right {
    .comment-top {
      display: flex;
      align-items: center;
      margin-bottom: 15px;

      .comment-fullname {
        font-size: 16px;
        font-weight: 700;
        margin-right: 15px;
      }

      .comment-date {
        font-size: 16px;
        color: $grey-main;
      }
    }

    .comment-body {
      font-size: 16px;
      color: #5f5f5f;
    }
  }
}
