@import '../../index.scss';

.change-picture {
  margin: 20px 0;

  &-title {
    font-size: 14px;
    color: $grey-main;
    font-weight: 400;
  }

  &-body {
    margin-top: 5px;
    border-radius: $r5;
    border: 1px solid $grey-main;
    padding: 15px;
    display: flex;
    justify-content: space-between;

    .left {
      width: 70px;
      height: 70px;
      border-radius: $r5;
      margin-right: 25px;
      object-fit: cover;
    }

    .right {
      position: relative;
      .top {
        width: 235px;
        display: flex;
        justify-content: space-between;

        button:first-child {
          margin-right: 5px;
        }
      }

      .bottom {
        position: absolute;
        bottom: 0;
        font-size: 13px;
        font-weight: 400;
        color: $grey-main;
      }
    }
  }
}
