@import "../../../index.scss";

.admin-page {
  .admin-page-dashboards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

  .admin-page-buttons {
    .admin-title {
      font-size: 20px;
      font-weight: 700;
    }

    .admin-buttons {
      margin-top: 20px;
    }
  }
}
