@import "../../index.scss";

.my-courses-page {
  .my-courses-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
  }

  .my-courses-completed {
    margin-top: 50px;
  }

  .my-courses-created {
    margin-top: 50px;
  }
}
