@import "../../index.scss";

.notification {
  position: fixed;
  right: 15px;
  bottom: 15px;
  width: 300px;
  border-radius: $r5;
  background: #fff;
  transform: translateY(-50%);
  opacity: 0;
  transition: all 0.3s ease;

  &.active {
    opacity: 1;
    transform: translateY(0);

    &.noactive {
      transform: translateY(-50%);
      opacity: 0;
    }
  }

  .notification-image {
    border-radius: $r5 $r5 0 0;
    text-align: center;
    padding: 20px 0;

    &.Error {
      background: $danger;
    }

    &.Success {
      background: $success;
    }
  }

  .notification-text {
    padding: 20px 30px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
  }
}
