@import "../../index.scss";

.modal-overlay {
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(179, 179, 193, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
  transform: scale(0);
  opacity: 0;

  &.active {
    transform: scale(1);
    opacity: 1;
  }

  .modal-block {
    transform: translateY(-50px) scale(0.9);
    transition: all 0.3s ease;
    width: 400px;
    background: #fff;
    padding: 20px;
    border-radius: $r5;
    box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.1);

    &.active {
      transform: translateY(0) scale(1);
    }

    .modal-header {
      text-align: center;
      font-size: 24px;
      font-weight: 500;
      padding-bottom: 10px;
      color: $grey-main;
      border-bottom: 1px solid $grey-main;
    }

    .modal-body {
      margin: 25px 0 0;

      .sign-in-form {
        margin-bottom: 50px;
      }

      .sign-up-form {
        margin-bottom: 50px;
      }

      .create-question-form {
        margin-bottom: 50px;

        .question-answers {
          margin-top: 10px;

          .question-answers-title {
            font-size: 16px;
            font-weight: 400;
            text-align: center;
          }
        }
      }

      .confirm-modal {
        text-align: center;
        .confirm-footer {
          margin-top: 25px;

          text-align: center;

          button:first-child {
            margin-right: 5px;
          }
        }
      }
    }
  }
}
