@import '../../index.scss';

.settings-page {
  display: flex;
  justify-content: space-between;

  .settings-item {
    margin-bottom: 20px;
  }

  .settings-form {
    .fullname {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
