@import '../../index.scss';

.settings-page {
  display: flex;
  justify-content: space-between;

  .settings-item {
    margin-bottom: 20px;
  }

  .settings-form {
    margin: 20px 0;

    .fullname {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .merged-accounts {
    margin: 20px 0;

    .title {
      font-size: 14px;
      font-weight: 600;
      color: $grey-main;
    }
  }

  .merge-accounts {
    margin: 20px 0;
    .title {
      font-size: 14px;
      font-weight: 600;
      color: $grey-main;
    }
  }
}
