@import '../../index.scss';

.button {
  border-radius: $r5;
  font-weight: 700;
  cursor: pointer;

  &.disable {
    padding: 10px 15px;
    border: none;
    background: #e1e1e3;
    color: #9696a0;
    cursor: default;
  }

  &.bold {
    padding: 10px 15px;
    border: none;
    color: #fff;

    &.primary {
      background: $primary;
    }

    &.danger {
      background: $danger;
    }

    &.main {
      background: $blue-main;
    }

    &.success {
      background: $success;
    }

    &.cancel {
      background: $cancel;
    }

    &.noactive {
      background: $noactive;
      color: $noactive-color;
    }
  }

  &.outline {
    padding: 8px 13px;
    border: 2px solid;
    background: transparent;

    &.primary {
      color: $primary;
      border-color: $primary;
    }

    &.danger {
      color: $danger;
      border-color: $danger;
    }

    &.main {
      color: $blue-main;
      border-color: $blue-main;
    }

    &.success {
      color: $success;
      border-color: $success;
    }

    &.cancel {
      color: $cancel;
      border-color: $cancel;
    }
  }
}
