// colors
$blue-main: #0d187d;
$grey-main: #b3b3c1;
$primary: #007bff;
$danger: #f45555;
$success: #00b74a;
$warning: #ffa900;
$cancel: #b7b7b7;

// colors selected
$border-selected: #88e4b8;
$background-selected: #f6fdfa;

// colors tags
$ux-bg: #f2f3fb;
$ux: #5158aa;
$ui-bg: #efeafa;
$ui: #6a469b;
$web-design-bg: #fce6e4;
$web-design: #d08485;

// Fonts
$baloo: 'Baloo Bhai 2', cursive;

// Radius
$r5: 5px;
$r15: 15px;

// transition
$main-transition: all 0.3s ease;

a {
  color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: $baloo;
  text-decoration: none;
}
