@import '../../../index.scss';

.textarea {
  .textarea-ready {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    &:hover .ready-edit {
      opacity: 1;
    }

    .ready-edit {
      transition: $main-transition;
      opacity: 0;
      cursor: pointer;
    }

    .ready-textcourse {
      font-size: 16px;
      color: #5f5f5f;
      font-weight: 400;
      margin-bottom: 20px;
      line-height: 25px;
    }
  }
}
