@import "../../index.scss";

.lesson-page {
  .lesson-course-progress {
    .course-progress-top {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .course-progress-title,
      .course-progress-procent {
        font-size: 24px;
        font-weight: 700;
      }
    }

    .course-progress-lines {
      position: relative;
      margin-top: 10px;

      .course-progress-line-fullprocent {
        position: absolute;
        width: 100%;
        border: 2px solid $grey-main;
      }

      .course-progress-line-procent {
        position: absolute;
        width: 90%;
        border: 2px solid $blue-main;
      }
    }
  }

  .lesson-course-body {
    margin: 40px 0 20px;

    .lesson-course-top-buttons {
      text-align: right;
    }

    .lesson-body-blocks {
      margin: 20px 0px;
    }

    .lesson-course-body-buttons {
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .lesson-course-comments {
    .lesson-comments-top {
      width: 100%;

      .lesson-comments-title {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 5px;
      }

      .lesson-comments-line {
        border: 1px solid $grey-main;
      }
    }
  }

  .lesson-comments-body {
    margin: 20px 0;

    .lesson-comments-buttons {
      text-align: right;
      margin-top: 10px;
    }
  }
}
