@import '../../../index.scss';

.panel {
  padding: 10px;
  border: 1px solid $grey-main;
  border-radius: $r5;
  width: max-content;

  .button {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}
